header {
    display: flex;
    flex-direction: row;
    position: fixed;
    margin: 0 0 0 0;
    justify-content: space-between;
    align-items: end;
    background: #ffffff;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
}
html, body {
    background: rgb(237, 237, 237);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page-container {
    padding: 100px 0 0 0;
}